<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/stylesheet.css">-->

</head>

<body>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<div class="">
			<form>
				<fieldset class="form-group">
					<legend>Add Biller</legend>
					<label for="billerName">Biller Name</label>
					<input type="text" class="form-control" placeholder="Enter Biller Name">
					<label for="streetAddress">Street Address</label>
					<input type="text" class="form-control" placeholder="Street Address">
					<label for="streetAddress2">Street Address2</label>
					<input type="text" class="form-control" placeholder="Street Address2">
					<label for="city">City</label>
					<input type="text" class="form-control" placeholder="City">
					<label for="state">State</label>
					<input type="text" class="form-control" placeholder="State">
					<label for="zipCode">Zip Code</label>
					<input type="text" class="form-control" placeholder="Zip Code">
					<label for="country">Country</label>
					<input type="text" class="form-control" placeholder="country">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" placeholder="Phone">
					<label for="mobilePhone">Mobile Phone</label>
					<input type="text" class="form-control" placeholder="Mobile Phone">
					<label for="fax">Fax</label>
					<input type="text" class="form-control" placeholder="Fax">
					<label for="email">Email</label>
					<input type="text" class="form-control" placeholder="Email">
					<label for="paypalNotifyUrl">Paypal Return Url</label>
					<input type="text" class="form-control" id="paypalReturnUrl" placeholder="Paypal Return url">
					<label for="paypalNotifyUrl">Paypal Notify Url</label>
					<input type="text" class="form-control" id="paypalNotifyUrl" placeholder="Paypal Notify Url">
					<label for="ewayCustomerID">Eway Customer ID</label>
					<input type="text" class="form-control" id="ewayCustomerID" placeholder="Eway Customer ID">
					<label for="paymentsGetwayApiId">PaymentsGetway API ID</label>
					<input type="text" class="form-control" id="paymentsGetwayApiId" placeholder=" PaymentsGetway API ID ">
	 								<label for="country ">Country</label>
	 								<input type="text " class="form-control " id="country " placeholder="country ">
	 								<label for="select ">Enable</label>
	 								<select name="select " >
	 									<option value="enable ">Enable</option>
	 									<option value="disable ">Disable</option>
	 								</select>
	 							</fieldset>

	 						</form>
	 					</div>
	 				</div>
	 			
	  <script src="js/jquery.min.js "></script>
	  <script src="js/bootstrap.min.js "></script>
	  <script>
		$("#menu> li > a").click(function () { // $('ul.sub-menu').not($(this).siblings()).slideUp(); $(this).siblings("ul.sub-menu").slideToggle();
		});
	</script>
</body>

</html>