<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-app="taxModule">
	<div class="" ng-controller="taxController">
		<form>
			<fieldset class="form-group">
				<legend>Add Taxes</legend>
				<label for="description">Name</label>
				<input type="text" class="form-control" ng-model="tax.name" id="name" placeholder="name">
				<label for="unitPrice">Percentage</label>
				<input type="text" class="form-control" ng-model="tax.percentage" id="percentage" placeholder="Percentage">

				<button type="button" class="btn btn-success" ng-click="save()"><i class="fa fa-plus " ></i>Save</button>
				<button type="button" class="btn btn-danger" ng-click="reset()"><i class="fa fa-trash "></i>Cancel</button>
			</fieldset>

		</form>
	</div>
</div>
<script src="../js/tax.js"></script>