
	 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	 					<div class="mrgn ">
	 						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
	 							<div class="top_area">
	 								<h1 class="h">Statements</h1>
		 							<button type=""><i class="fa fa-money" aria-hidden="true"></i><span>Statement of Invoices</span></button>
			 					</div>
		 					</div>
		 					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 							<div class="top_area">
	 								<h1 class="h">Sales</h1>
		 							<button type=""><a class="btn" href="#totalSales"><i class="fa fa-money" aria-hidden="true"></i><span>Total Sales</span></a></button>
		 							<button type=""><a href="#monthlySales"><i class="fa fa-money" aria-hidden="true"></i><span>Monthly Sales & Payments per year</span></a></button>
		 							<button type=""><a href="#totalSalesCustomer"><i class="fa fa-money" aria-hidden="true"></i><span>Sales by Customers</span></a></button>
			 					</div>
		 					</div>
		 					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
	 							<div class="top_area">
	 								<h1 class="h">Tax</h1>
		 							<button type=""><a href="#totalTax"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Total Taxes</span></a></button>
			 					</div>
		 					</div>
		 					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 							<div class="top_area">
	 								<h1 class="h">Products</h1>
		 							<button type=""><a href="#totalProduct"><i class="fa  fa-cart-plus" aria-hidden="true"></i><span>Product Sales</span></a></button>
		 							<button type=""><a href="#productByCustomer"><i class="fa  fa-cart-plus" aria-hidden="true"></i><span>Product by Customer</span></a></button>
			 					</div>
		 					</div>
		 					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 							<div class="top_area">
	 								<h1 class="h">Biller Sales</h1>
		 							<button type=""><a href="#billerSales"><i class="fa  fa-user-md" aria-hidden="true"></i><span>Biller Sales</span></a></button>
		 							<button type=""><a href="#billerCustomer"><i class="fa  fa-user-md" aria-hidden="true"></i><span>Biller Sales by Customer - Totals</span></a></button>
			 					</div>
		 					</div>
		 					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 							<div class="top_area">
	 								<h1 class="h">Debtors</h1>
		 							<button type=""><i class="fa fa-vcard" aria-hidden="true"></i><span>Debtor by amount owed</span></button>
		 							<button type=""><i class="fa fa-vcard" aria-hidden="true"></i><span>Debtor by Aging periods</span></button>
		 							<button type=""><i class="fa fa-vcard" aria-hidden="true"></i><span>Total owed per Customer</span></button>
		 							<button type=""><i class="fa fa-vcard" aria-hidden="true"></i><span>Total by Aging periods</span></button>
			 					</div>
		 					</div>
		 					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 							<div class="top_area">
	 								<h1 class="h">Other</h1>
		 							<button type=""><i class="fa fa-database" aria-hidden="true"></i><span>Database Log</span></button>
			 					</div>
		 					</div>
	 					</div>
					</div>
	 			
