<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="billerModule">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
       <h3>Edit Biller</h3>
            <div ng-controller="editBController">
<div>
                <form name="as" ng-submit="edit()">
  <ul>
  <li  ng-repeat="(key, val) in billers  " ng-hide="(key=='customfields' || key=='enable' )" >
   <label class="label">{{key}}</label> <input type="text" ng-model="billers[key]"/> 
  </li>
<li  ng-repeat="input in billers.customfields">
 
   <label class="label"> {{input.fieldName}}</label> <input type="text" ng-model="input.fieldValue"/> 
 
  </li>
  <button type="submit" ><i class="fa fa-plus-circle" aria-hidden="true"></i><span> Edit Billers</span></button>
<ul>
</form>
         </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>

    <!--/*<script src="../shared/angular.min.js"></script> */-->
    <script src="../angular-route/angular-route.js"></script>
    <script src="../angular-animate/angular-animate.js"></script>

    <script src="../js/services.js"></script>
    <script src="../js/customer.js"></script>
    <!-- <script   src="../controllers/customer.js"></script> -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $("#menu > li > a").click(function() {
            // $('ul.sub-menu').not($(this).siblings()).slideUp();
            $(this).siblings("ul.sub-menu").slideToggle();
        });
    </script>
</body>

</html>