<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-app="loginModule"  >
	<div class="" ng-controller="loginController">
		<form ng-submit="validate()">
			<fieldset class="form-group">
				<legend>Sign In</legend>
				<label for="description">Email</label>
				<input type="text" class="form-control" ng-model="login.email" id="name" placeholder="email">
				<label for="unitPrice">Password</label>
				<input type="password" class="form-control" ng-model="login.password" id="percentage" placeholder="Password">

				<button type="submit" class="btn btn-success" ><i class="fa fa-plus " ></i>Login</button>
				
			</fieldset>

		</form>

	</div>
    
</div>
<img src="../images/logo.png"/>

             
