	 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	 					<div class=" b" ng-app="productModule" ng-controller="getProduct">
					 <a href="#addproduct">	<button type=""><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Add New Product</span></button></a>
 							<table class="table table-striped table table-bordered table-striped" style="background: #f0f0f0">
							    <thead>
							      <tr>
							        <th>ID</th>
							        <th>Actions</th>
											<th>Name</th>
							        <th>Unit Price</th>
							        <th>Color</th>
											<th>Enable</th>

							      </tr>
							    </thead>
							   <tbody ng-repeat="prod in Products">
                        <tr>
                            <td> <span>{{prod.id}}<a href="#" ng-click="deleteProduct(prod.id)"><img src="../images/delete.png"alt="" style="width:20px; height:auto;" /></a></span></td>
                            <td> <span><a href="#viewProduct" ng-click="setRoot(prod.id)"><img src="../images/view.png"alt="" style="width:20px; height:auto;" /></a><a href="#editProduct" ng-click="setRoot(prod.id)"><img src="../images/edit.ico"alt="" style="width:20px; height:auto;" /></a><a href="#view" ng-click="setRoot(prod.id)"><img src="../images/mail.png"alt="" style="width:20px; height:auto;" /></a><a href="#view" ng-click="setRoot(prod.id)"><img src="../images/print.ico"alt="" style="width:20px; height:auto;" /></a><a href="#view" ng-click="setRoot(prod.id)"><img src="../images/pdf.png"alt="" style="width:20px; height:auto;" /></a></span></td>
                            <td> <span>{{prod.name}}</span></td>
                            <td>  <span>{{prod.price}}</span></td></td>
                            <td> <span>{{prod.color}}</span></td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
							  </table>
	 					</div>
	 				</div>
	 		
