
	 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	 					<div class=" " ng-app="paymentModule" ng-controller="listallpayment">

		 						  <a href="#addpayment"> <button type=""><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Process Payment</span></button></a>

						<table class=" table table-bordered" style="background: #f0f0f0">
					    <thead>
					      <tr>
					        <th>Action</th>
									
					        <th>ID</th>
					        <th>Payment Amount</th>
					        <th>Invoice ID</th>
					        <th>Customer Name</th>
					        <th>Biller Name</th>
					        <th>Type</th>
					        <th>Pay Date</th>

					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="pay in payments">
					        <td></td>
					        <td>{{pay.id}}</td>
					        <td>{{pay.amount}}</td>
					        <td>{{pay.invoiceId}}</td>
					        <td>{{pay.customerName}}</td>
					        <td>{{pay.billerName}}</td>
					        <td>{{pay.payType}}</td>
					        <td>{{pay.payDate}}</td>
					      </tr>
					    </tbody>
					  </table>

	 				</div>
