	 				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	 					<div class=" b" ng-app="ReportModule" ng-controller="totalSalesController">
			
 							<table class="table table-striped table table-bordered table-striped" style="background: #f0f0f0">
							    <thead>
										 <h1>Total Invoices</h1>
							      <tr>
							        
											<th>Invoice Name</th>
							        <th>quantity</th>
											<th>Total</th>

							      </tr>
							    </thead>
							   <tbody >
                        <tr>
                           <td> <span>{{sales.invoiceName}}</span></td>
                            <td> <span>{{sales.numberOfTimes}}</span></td>
														<td> <span>{{sales.totalSales}}</span></td></td>
                        </tr>
                    </tbody>
							  </table>
	 					</div>
	 				</div>
	 		
