			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-app="invoiceModule" ng-controller="editIController">
	 					<div class="mrgn ">
		 					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		 						
		 					</div>
		 					
		 					<div class="col-xs-9 col-sm-11 col-md-11 col-lg-11">
		 						
		 					</div>
	 					</div>
						<table class="table table-striped table table-bordered table-striped " style="background: #f0f0f0">
					    <tbody>
								<tr class="tr"><th>Invoice No:</th><td>{{customers.id}}</td></tr>
								<tr class="tr"><th>Created Date:</th><td><span class="label label-default">{{customers.date}}</span></td></tr>
								<tr class="tr"><th>Delivery Date:</th><td><span class="label label-default">{{customers.delivery}}</span></td></tr>
					       <tr class="tr"><th>Biller:</th><td><span class="">{{customers.billerName}}</span></td></tr>
					      <tr class="tr"><th>Customer:</th><td>{{customers.custName}}</td></tr>
					    </tbody>
					  </table>
					  <table class="table table-striped table table-bordered table-striped" style="background: #f0f0f0">
							    <tr>
							      <tr>
							        <th>Qty</th>
							        <th>Item</th>
							        <th>Unit Cost</th>
											<th>Tax</th>
							        <th>Price</th>
							       </tr>
							    </tr>
							    <tbody>
							      <tr ng-repeat="cust in customers.product">
							        <td>{{cust.quantity}}</td>
							        <td>{{cust.name}}</td>
							        <td>{{cust.price}}</td>
											<td>{{cust.taxPercent}}%</td>
											<td>{{(cust.price*cust.quantity*cust.taxPercent)/100+(cust.price*cust.quantity)}}</td>
							      </tr>
							    </tbody>
							    <tfoot>
							     
							       <tr>
							    	<td colspan="3" class="right"> Invoice Total Amount</td>
							    	<td >{{customers.price}}</td>
							      </tr>
										 <tr>
							    	<td colspan="3" class="right"> Invoice Balance</td>
							    	<td >{{customers.balance}}</td>
							      </tr>
							    </tfoot>
							  </table>
<h3 align="center">Designs<h3>
  <table class="table table-striped table table-bordered table-striped" style="background: #f0f0f0">
							    <thead>
							      <tr>
							        <td>Names</td>
							        <td>Fabric</td>
							        <td>Cut</td>
										  <td>Color</th>
							        <td>Note</td>
							       </tr>
							    </thead>
							  	
	<tbody ng-repeat="prod in customers.product">
		<tr ng-repeat="des in prod.designs" >
    <td >{{des.name}}</td>
		<td >{{des.fabric}}</td>
		<td >{{des.cut}}</td>
		<td >{{des.color}}</td>
		<td >{{des.note}}</td>
	</tr>
		
		 </tbody>
							  </table>










	 				</div>
	 			</div>
	 		</div>
	 	</div>