<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="views/css/bootstrap.min.css">
	<link rel="stylesheet" href="views/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="views/css/stylesheet.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
</head>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-app="loginModule"  >
	<div class="" ng-controller="loginController">
		<form ng-submit="validate()">
			<fieldset class="form-group">
				<legend>Sign In</legend>
				<label for="description">Email</label>
				<input type="text" class="form-control" ng-model="login.email" id="name" placeholder="email">
				<label for="unitPrice">Password</label>
				<input type="password" class="form-control" ng-model="login.password" id="percentage" placeholder="Password">
				<button type="submit" class="btn btn-success" ><i class="fa fa-plus " ></i>Login</button>
				
			</fieldset>
		</form>

	</div>
    
</div>
<img src="../images/logo.png"/>
<script src="js/login.js"></script>
	<script src="views/js/jquery.min.js"></script>
	<script src="views/js/bootstrap.min.js"></script>

             
